@import '@/shared/styles/_vars';

$animation-px: rem(100);

html {
	scroll-behavior: smooth;
	scroll-padding-top: rem(80);
	width: 100vw;
	background-color: $text-black;
}
body {
	scroll-behavior: smooth;
	min-height: 100vh;
	-ms-scroll-chaining: none;
	overscroll-behavior: none; // Останавливает скролл по Y на iOS
}

body.overflow {
	position: relative;
	overflow: hidden;
	transition: 0.2s;

	&:before {
		content: '';
		transition: 0.2s;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background: rgba(0, 0, 0, 0.3);
		-webkit-backdrop-filter: blur(7px);
		backdrop-filter: blur(7px);
	}
}
body.blur {
	&::before {
		opacity: 1;
		visibility: visible;
	}
}
.animation-block {
	opacity: 0;
	transition:
		transform 1s,
		opacity 1s;

	// Directions
	&.from-left-to-right {
		transform: translate3d(-$animation-px, 0, 0);
	}
	&.from-right-to-left {
		transform: translate3d($animation-px, 0, 0);
	}
	&.from-top-to-bottom {
		transform: translate3d(0, -$animation-px, 0);
	}
	&.from-bottom-to-top {
		transform: translate3d(0, $animation-px, 0);
	}

	&.show-animation {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

:root {
	color-scheme: only dark;
}

.main {
	display: flex;
	flex-direction: column;
	gap: rem(80);

	@media (max-width: $max-768) {
		gap: rem(40);
	}
}

// Выделение текста
// * {
// 	&::-moz-selection {
// 		background-color: rgba(30, 65, 227, 0.3);
// 	}
// 	&::selection {
// 		background-color: rgba(30, 65, 227, 0.3);
// 	}
// }
